:root {
    --white: #FFFFFF;
    --black: #464646;
    --grey: #A2A2A2;
    --primary-blue: #2A7AE4;
    --secondary-blue: #EAF2FD;
}


.title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}

.title-2 {
    font-size: 22px;
    font-weight: 700;
}

.subtitle,
.title-2 {
    color: var(--black);
    font-family: Raleway;
    font-style: normal;
    line-height: normal;
}

.subtitle {
    font-size: 16px;
    font-weight: 700;
}
.description,
.description-2 {
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.description {
    font-weight: 500;
    color: var(--black);
}

.description-2 {
    color: var(--primary-blue);
    font-weight: 700;
}