:root {
    --white: #FFFFFF;
    --black: #464646;
    --grey: #A2A2A2;
    --primary-blue: #2A7AE4;
    --secondary-blue: #EAF2FD;
}


.title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}
.subtitle-1, .subtitle-2{
    color: var(--black);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}
.subtitle-1{
    font-weight: 700;
}
.subtitle-2{
    font-weight: 500;
}
.description {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}